<header class="container">
  <span class="text-center">
    <h1 class="display-3">Checklist</h1>
<!--    <p class="h1">Your checklist name</p>-->
    @if (isTitleEdit) {
      <input [(ngModel)]="checklistTitle" id="listTitle" type="text" class="form-control text-center form-control-lg" [class.invisible]="!isTitleEdit" (keyup.enter)="leaveEdit()" (focusout)="leaveEdit()">
    } @else {
      <p class="h1 d-flex justify-content-center" (click)="editTitle()" [class.invisible]="isTitleEdit">{{ checklistTitle }}</p>
    }
    <p class="small text-muted">You can change checklist title</p>
  </span>
</header>
<div id="content" class="flex-grow-1">
<app-list>
  <p>There is nothing here yet</p>
</app-list>
</div>
<!--<footer class="blockquote-footer container fixed-bottom"> &lt;!&ndash; TODO: change fixed-bottom later &ndash;&gt;-->
<footer class="blockquote-footer footer container mb-auto bottom-0">
  <address>
    Studying project<br>
    Idk what to say<br>
    How are y'all doing?
  </address>
</footer>
