<header class="container">
  <span>
    <h1 class="display-3">Checklist</h1>
    <p class="h1">Your checklist name</p>
  </span>
  <nav class="navbar-nav">
    <a href="#">There will be 'Create new checklist' button</a>
  </nav>
</header>
<div id="content" class="container">
<app-list>
  <p>There is nothing here yet</p>
  <p>You can create new checklist</p>
  <p>A button is on top <b>OR</b> you can press it here</p>
</app-list>
</div>
<footer class="blockquote-footer container fixed-bottom"> <!-- TODO: change fixed-bottom later -->
  <address>
    Studying project<br>
    Idk what to say<br>
    How are y'all doing?
  </address>
</footer>
