<header class="container">
  <span class="text-center">
    <h1 class="display-3">Checklist</h1>
    <p class="h1">Your checklist name</p>
  </span>
  <nav class="navbar-nav">
    <button class="btn btn-sm btn-outline-primary">Create new checklist</button>
  </nav>
</header>
<div id="content" class="flex-grow-1">
<app-list>
  <p>There is nothing here yet</p>
  <p>You can create new checklist</p>
  <p>A button is on top <b>OR</b> you can press it here</p><button class="btn btn-outline-primary btn-sm">Create new checklist</button>
</app-list>
</div>
<!--<footer class="blockquote-footer container fixed-bottom"> &lt;!&ndash; TODO: change fixed-bottom later &ndash;&gt;-->
<footer class="blockquote-footer footer container mb-auto bottom-0">
  <address>
    Studying project<br>
    Idk what to say<br>
    How are y'all doing?
  </address>
</footer>
