<div class="container p-3 border border-1 border-primary-subtle mb-3 rounded d-flex flex-row">
  @if (isEdit) {
    <input class="ms-0 form-control w-75" [(ngModel)]="newValue" (keyup.escape)="cancelEdit()" (keydown.enter)="cancelEdit(true)">
    <div class="btn-group-sm w-25">
      <button (click)="cancelEdit(true)" class="btn btn-primary">Save</button>
      <button (click)="cancelEdit()" class="btn btn-secondary">Cancel</button>
    </div>
  } @else {
    <p class="w-75 fs-3" [style.text-decoration-line]="task.completion ? 'line-through' : ''">
      {{ task.body }}
    </p>
    <div class="btn-group-sm w-25 text-end d-grid gap-2 d-md-block align-self-center">
      <input type="checkbox" class="btn-check" id="compCheck-{{ task.id }}" autocomplete="off" (change)="completeTask()" [checked]="task.completion">
      <label class="btn btn-outline-primary" for="compCheck-{{ task.id }}">Completed</label>
      <button (click)="editTask()" class="btn btn-primary">Edit</button>
      <button (click)="deleteTask()" class="btn btn-secondary">Delete</button>
    </div>
  }
</div>
